extends layout

block content
  h1= title

  a(href="/new" class="btn") Add a new message

  ul(class="msgs-container")
    each item in messages
      li(class="msg")
        div
          strong #{item.user}
          span #{item.time} ago
        p #{item.text}

