extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/new", method="post")
    input(name="author", type="text", placeholder="Your name")
    textarea(name="text", type="text", placeholder="Say something")
    button(class="btn" type="submit") Send
